torch==1.13.0
torchvision==0.14.0
numpy
tqdm
tensorboard
tensorboardX
ml-collections
medpy
SimpleITK==1.2.4
scipy
h5py
torchmetrics
timm==0.4.12
yacs==0.1.8
wandb
einops
pytorch_warmup
ml_collections
matplotlib